.account-details {
  .stepper {
    padding-left: 0;
    padding-right: 0;
    padding-top: 12px;
  }

  .step-content > div:first-child {
    height: 450px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
